<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <h2 style="text-align:center">CV Lab Printing Service</h2>
    <div class="main-container">
      <div>
        <el-upload ref="upload" drag accept="application/pdf" :file-list="fileList" :on-success="handleSuccess" action="/api/upload">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file here or
            <em>click to upload</em>
          </div>
        </el-upload>
        <el-input size="small" v-model="token" placeholder="Access Token" style="margin-bottom:0.5em;"></el-input>
        <el-button size="small" type="success" @click="submitUpload">Print it</el-button>
      </div>
      <div style="max-width:50%;margin-left:1em;">
        <el-card>
          <h5>Config</h5>
          <div style="display:flex;flex-wrap:wrap;">
            <div style="min-width:22em;margin-bottom:0.3em;" v-for='(item,index) in printerOptions'>
              <span>{{item.display_name}}: </span>
              <el-select style="max-width:10em;" placeholder="Select" v-model="item['selected']">
                <el-option v-for="option in item['options']" :key="option" :label="option" :value="option"></el-option>
              </el-select>
            </div>
          </div>
        </el-card>
      </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        printerOptions: null,
        fileList: [],
        fileName: '',
        token: ''
      }
    },
    mounted() {
      this.token = localStorage.getItem('accessToken')
      var xhr = new XMLHttpRequest()
      let self = this
      xhr.onload = function () {
        self.printerOptions = JSON.parse(this.responseText)['options']
      }
      xhr.open("GET", "/api/printer")
      xhr.send()
    },
    methods: {
      submitUpload() {
        let xhr = new XMLHttpRequest()
        let self = this
        const compactOption = self.printerOptions.map(item => {
          return { option_name: item.option_name, selected: item.selected }
        })
        xhr.onload = () => {
          console.log(this.responseText)
        }
        xhr.open("POST", "/api/print")
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.send(JSON.stringify({ options: compactOption, filename: self.fileName, token: self.token }))
        this.fileList = []
        window.localStorage.setItem('accessToken', self.token)
      },
      handleSuccess(val) {
        console.log(val)
        this.fileName = val.filename
      }
    }
  })
</script>
<style>
  #app {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .main-container {
    display: flex;
    justify-content: center;
  }
</style>

</html>