<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <title>CV Lab Printing Service</title>
</head>

<body>
  <div id="app">
    <h2 style="text-align:center">CV Lab Printing Service</h2>
    <div class="main-container">
      <div>
        <el-upload ref="upload" drag accept="application/pdf" :file-list="fileList" :on-error="handleError" :on-success="handleSuccess"
          action="/api/upload">
          <i class="el-icon-upload"></i>
          <div class="el-upload__text">Drop file here or
            <em>click to upload</em>
          </div>
        </el-upload>
        <span>Token:</span>
        <el-input size="small" v-model="token" placeholder="Access Token" style="margin-bottom:0.5em;"></el-input>
        <el-button size="small" type="success" @click="submitUpload">Print it</el-button>
      </div>
      <div style="max-width:60%;margin-left:1em;">
        <el-card>
          <h5>Config</h5>
          <div style="display:flex;flex-wrap:wrap;">
            <div class="option">
              <div>Number of copy:</div>
              <el-input-number size="mini" v-model="numCopy" :min="1" :max="5"></el-input-number>
            </div>
            <div class="option">
              <div>Collate:</div>
              <el-switch size="mini" v-model="collate">
              </el-switch>
            </div>
            <div class="option" v-for='(item,index) in printerOptions'>
              <div>{{item.display_name}}: </div>
              <el-select size="mini" style="display:block;max-width:10em;" placeholder="Select" v-model="item['selected']">
                <el-option v-for="option in item['options']" :key="option" :label="option" :value="option"></el-option>
              </el-select>
            </div>
          </div>
        </el-card>
      </div>
    </div>
    <a href="https://github.com/HaoPatrick/WebPrinter">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
        alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
  </div>
  <footer>
    © 2018
    <a href="https://github.com/HaoPatrick">XIANGPENG HAO</a> ALL RIGHTS RESERVED
  </footer>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        printerOptions: null,
        fileList: [],
        fileName: '',
        token: '',
        numCopy: 1,
        collate: false,
        printingInProgress: false
      }
    },
    mounted() {
      this.token = this.getParameterByName('token') || localStorage.getItem('accessToken')
      var xhr = new XMLHttpRequest()
      let self = this
      xhr.onload = function () {
        const rawResponse = JSON.parse(this.responseText)
        if (rawResponse.status === 'error') {
          this.$message(rawResponse.msg)
        } else {
          self.printerOptions = rawResponse.data['options']
        }
      }
      xhr.open("GET", "/api/printer")
      xhr.send()
    },
    methods: {
      submitUpload() {
        let xhr = new XMLHttpRequest()
        let self = this
        if (self.printingInProgress) {
          self.$message({
            message: 'Printing in progress, you may wait up to 1 min for printer to setup...',
            duration: 10000,
            type: 'error'
          })
          return
        }
        const compactOption = self.printerOptions.map(item => {
          return { option_name: item.option_name, selected: item.selected }
        })

        xhr.open("POST", "/api/print")
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.onload = function () {
          const response = JSON.parse(this.responseText)
          if (response.status === 'error') {
            self.$message({
              message: response['msg'],
              type: 'error'
            })
          } else {
            self.$message({
              message: response.data['msg'] + ' you may wait up to 1 min for printer to setup',
              duration: 10000
            })
          }
          self.fileName = ''
        }
        xhr.send(JSON.stringify(
          {
            options: compactOption, filename: self.fileName, token: self.token,
            basicOptions: { number: self.numCopy, collate: self.collate }
          }
        ))
        this.fileList = []
        window.localStorage.setItem('accessToken', self.token)
        self.printingInProgress = true
        setTimeout(() => {
          self.printingInProgress = false
        }, 30000)
      },
      handleSuccess(val) {
        this.fileName = val.data.filename
      },
      handleError(val) {
        this.$message({
          message: 'Internal error, check your filename',
          type: 'error',
          duration: 5000
        })
      },
      getParameterByName: function (name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
      }
    }
  })
</script>
<style>
  html {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
  }


  footer {
    padding-bottom: 0.5em;
    /* border-top: 1px solid #666; */
    text-align: center;
    font-size: 0.7em;
    color: #666;
  }

  #app {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex: 1 0 auto;
  }

  .main-container {
    display: flex;
    justify-content: center;
  }

  .option {
    min-width: 22em;
    margin-bottom: 0.3em;
    font-size: 0.8em;
    display: flex;
  }

  .option>div {
    min-width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>

</html>